html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Proxima Nova', sans-serif;
}

:root {
    // Primary Colors
    --Blue: #4f7df3;
    // Secondary Colors
    --Pale-Blue: #c2d3ff;
    --Light-Red: #ff5263;
    // Neutral Colors
    --Gray: #969696;
    --Very-Dark-Blue: #151f29;
}

//Headings
h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    font-family: 'Libre Franklin', sans-serif;
}

h2 {
    font-size: clamp(1.25rem, 4vw, 1.35rem);
    font-family: 'Libre Franklin', sans-serif;
}

.big {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-family: 'Libre Franklin', sans-serif;
}

p {
    font-size: 1rem;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.5;
}

body {
    line-height: 1;
    font-family: 'Libre Franklin', sans-serif;
    position: relative;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 clamp(1.5rem, 2.5vw, 3rem);

    div#content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 45rem;
        gap: 1rem;
        margin-top: clamp(1rem, 2.5vh, 1.5rem);
        padding: 0 clamp(1.5rem, 2.5vw, 3rem);

        img#logo {
            margin: 5rem 0 2rem;
        }

        h1 {
            text-align: center;
            font-weight: lighter;

            span {
                font-weight: 600;
            }
        }

        h2 {
            text-align: center;
        }

        div#contentForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            width: 100%;
            margin-top: 1rem;

            @media screen and (min-width: 768px) {
                flex-direction: row;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                width: 100%;
                max-width: 24rem;

                @media screen and (min-width: 768px) {
                    flex-direction: row;
                    gap: 0.5rem;
                    max-width: 32rem;
                }

                label {
                    width: 100%;

                    input {
                        display: flex;
                        border: 1px solid var(--Gray);
                        border-radius: 9999px;
                        padding: 1rem 1rem 1rem 1.5rem;
                        width: 100%;
                        letter-spacing: 0.025rem;
                        transition: all 0.25s ease-in-out;

                        &::placeholder {
                            color: var(--Gray);
                        }

                        &:focus {
                            outline: none;
                            border: 1px solid var(--Blue);
                            box-shadow: #4f7df340 0 0 0.5rem 0.025rem;
                        }
                    }
                }

                button {
                    background-color: var(--Blue);
                    color: white;
                    padding: 1rem;
                    border-radius: 9999px;
                    border: none;
                    width: 100%;
                    letter-spacing: 0.025rem;
                    transition: all 0.25s ease-in-out;

                    @media screen and (min-width: 768px) {
                        max-width: max-content;
                        padding: 1rem 3rem;
                    }

                    &:hover {
                        background-color: var(--Very-Dark-Blue);
                    }
                }
            }
        }
        img#contentImage {
            width: 100%;
            margin: 2rem 0;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 1.5rem;
    padding: 2rem 0;

    div#socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
        
        a {
            background-color: white;
            padding: 0.5rem;
            border-radius: 9999px;
            box-shadow: hsla(0, 0%, 0%, 10%) 0 0 0.5rem 0.025rem;
        }
    }

    p {
        font-size: 0.875rem;
        color: var(--Gray);
    }
}